[Desktop Entry]
Type=Application
Name=Install or Update EShot
Comment=Install EShot as a desktop application and open it
Exec=/bin/bash "/run/media/emirhan/Samsung 990 PRO/Users/emirh/OneDrive/Masaüstü/Code/VSCODE/EShot/scripts/linux/desktop-launch.sh"
Icon=io.github.benoks.EShot-v4
Terminal=false
StartupNotify=false
X-KDE-StartupNotify=false
StartupWMClass=EShot
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2
Categories=Utility;Graphics;Photography;
Keywords=screenshot;screen capture;annotation;ocr;
