[Desktop Entry]
Type=Application
Name=EShot
Comment=Screenshot, annotation, OCR, upload, GIF and video capture tool
Exec=eshot-launcher
Icon=io.github.benoks.EShot-v4
Terminal=false
StartupNotify=false
X-KDE-StartupNotify=false
StartupWMClass=EShot
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2
Categories=Utility;Graphics;Photography;
Keywords=screenshot;screen capture;annotation;ocr;
